* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 30px;
  color: #888;
  background-color: #282c34;
}

a {
  text-decoration: none;
  color: #888;
}

a:hover {
  color: #4c5463;
}

#container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

