body {
  margin: 0;
  background-color: #282c34;
  color: #888;
  font-family: Oswald, sans-serif;
  font-weight: 200;
}

a {
  color: #BBB;
  text-decoration: none;
}
a:hover {
  color: #DDD;
}

#quote-box {
  padding: 30px;
  background: #333;
  border-radius: 15px;
  align-items: center;
}

#quote-box:hover {
  animation: buttonhighlight 1s;
  animation-fill-mode: forwards;
  color: #222;
}

@keyframes buttonhighlight {
  0% {
    background: #222;
  }
  10% {
    background: #85fff9;
  }
  100% {
    background: #ff90f3;
  }
}