* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body, input, textarea, button {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

@media(max-width: 600px) {
  html{
    font-size: 8px;
  }
}

body {
  color: #888;
  background-color: #282c34;
}

#container {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

