.blockquote {
  margin-top: 60px;
  max-width: 80vw;
}

.blockquote-divider {
  margin: auto;
  border: none;
  border-top: 1px solid #666;
  width: 100%;
  animation: blockquote-divider-in 2s ease-out;
}

.blockquote-body {
  margin-top: 30px;
  display: flex;
  gap: 5px;
  animation: blockquote-in 1s ease-out;
}

.blockquote-quotation-mark {
  font-size: 50px;
  transform: translateY(-10px);
  height: 10px;
}

.blockquote-text {

}

.blockquote-footer {
  margin: 20px 0 40px;
  transform: translateX(12px);
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; */
  font-size: 20px;
  font-weight: 400;
  animation: blockquote-footer-in 1s ease-out .5s backwards;
}

@keyframes blockquote-divider-in {
  0% {
    opacity: 0;
    transform: scaleX(.2);
  }
  50${
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes blockquote-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  } 
  100% {
    opacity: 1;
  } 
}

@keyframes blockquote-footer-in {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
  }
}